*{
margin:0;
padding:0;
font-family: sans-serif;
}

.main {
  width:100%;
  height:100vh;
}
.home-main {
  background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.75)),url(mentalhealth1.jpg);
  background-size: cover;
  background-position: center;
}

.nav-header{
  width: 100%;
  top: 0;
}

.navbar{
width:100%;
height: 12vh;
align-items: center;
/* margin: auto; */
display: flex;
justify-content: space-between;
}

.logo{
top: 0%;
width: 20rem;
height: 12rem;
cursor:pointer;
}

.nav-ul {
  display: flex;
}

.nav-item {
list-style:none;
display: inline-block;
margin: 0 1rem;
position:relative;

}

.nav-item a{
font-size: .75rem;
color: #fff;
text-transform: uppercase;
text-decoration: none;
}



.content{
width: 95%;
position: absolute;
top: 50%;
left: 2%;
transform: translateY(-50%);
text-align: left;
color: #fff;
}

.content h1{
font-size: 4rem;
margin-top: 80px;
color: #fff;
}

.content p{
margin: 20px auto;
font-size: 1rem;
line-height: 25px;
color: #fff;
}

.content2{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
  }

.content2 h1{
  font-size: 70px;
  margin-top: 80px;
  color: #fff;
  }
  
  .content2 p{
  margin: 20px auto;
  font-size: 25%;
  line-height: 1em;
  color: #fff;
  }


.blue-button {
width: 7rem;
padding: 1rem;
text-align: center;
font-size: .9rem;

border-radius: 25px;
font-weight: bold;
border: 2px solid #4cacfa;
background: #3832f6;
color:#fff;
cursor: pointer;
position: relative;
}



.footer{
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
}

.footer .social{
text-align: center;
padding-bottom: .5rem;
color: #fff;
}

.footer .social a{
font-size: 33px;
color: inherit;
width: 1rem;
height: 1rem;
text-align: center;
border-radius: 50%;
margin: 0 12px;
opacity: 0.75;
}

.footer .social a:hover{
opacity: 0.9;
}

.footer ul li a{
color: inherit;
text-decoration: none;
opacity: 0.8;
}

.statsbanner {
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.75)),url(mentalhealth2.jpg);
    background-size: cover;
    background-position: center;
    }


/* Join Page  */

.join-main {
  background-color: rgb(213, 213, 213);
}

.join-hero {
  width: 100vw;
  height: 35vh;
  background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.75)),url(teamwork.avif);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.make-difference {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.md-img {
  height: 35vh;
  width: 50vw;
}

@media (max-width: 510px) {
  .nav-ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 855px) {
  .navbar {
    justify-content: space-around;
    height: 20vh;
    flex-direction: column;
  }
  .logo {
    height: 8rem;
    width: 12rem;
  }
  .nav-item {
    padding-top: 2%;
  }
  .blue-button {
    padding: .25rem;
  }
  .join-hero {
    margin-top: 5%;
  }
}

/* Small screens (phones) */
/* @media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .logo {
    width: 120px;
    height: 60px;
  }
  .navbar ul {
    display: flex;
  }
  .navbar.active ul {
    display: flex;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #333;
    text-align: center;
    z-index: 999;
  }
  .navbar.active ul li {
    display: block;
    margin: 10px 0;
  }
  .navbar.active ul li a {
    color: #fff;
    font-size: 1.2em;
  }
  .content h1 {
    font-size: 2.5em;
    margin-top: 20px;
  }
  .content p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  /* button {
    font-size: 12px;
    padding: 10px 0;
    margin: 20px auto;
  } 
  span {
    border-radius: 15px;
  }
} */

/* Medium screens (tablets) */
/* @media only screen and (min-width: 601px) and (max-width: 960px) {
  .logo {
    width: 150px;
    height: 75px;
  }
  .navbar ul li {
    margin: 0 10px;
  }
  .content h1 {
    font-size: 4em;
    margin-top: 100px;
  }
  .content p {
    font-size: 1.5em;
    line-height: 2em;
  }
  button {
    font-size: 12px;
    padding: 15px 0;
    margin: 40px auto;
  }
 
} */